<link rel="stylesheet" href="simditor/styles/simditor.css" />
<link rel="stylesheet" href="simditor/styles/font-awesome.css" />
<link rel="stylesheet" href="css/admin/editContestProblem.css">

<div ng-controller="editContestProblemCtrl" class="container">

    <div class="container-sm">

        <div class="page-header">
            <h2 ng-show="!sort_index">Add contest problem</h2>
            <h2 ng-show="sort_index">Edit contest problem</h2>
        </div>

        <form class="form-horizontal submit-form">
            <div input-text title="Contest id"              value="contest_id" disable="true"></div>
            <div input-text title="Sort index"              value="sort_index"></div>
            <div input-text title="Problem title"           value="problem_title"></div>
            <div input-text title="Time limit (ms)"         value="time_limit"></div>
            <div input-text title="Memory limit (bytes)"    value="memory_limit"></div>
            <div input-text title="Author"                  value="author"></div>
            <div input-text title="Source"                  value="source"></div>
            <div input-text title="Input method"            value="input_method"></div>
            <div input-text title="Output method"           value="output_method"></div>
            <div input-text title="Data dir"                value="data_dir"></div>

            <div input-switch title="Public" on="No" off="Yes" value="forbidden_status"></div>

            <div input-editor title="Description"           value="description"></div>
            <div input-editor title="Input description"     value="input_description"></div>
            <div input-editor title="Output description"    value="output_description"></div>

            <div class="sample">
                <div ng-repeat="input_sample_item in input_sample track by $index">
                    <div input-plain-editor title="Input sample-{{$index}}"    value="$parent.input_sample[$index]"></div>
                </div>

                <div ng-repeat="output_sample_item in output_sample track by $index">
                    <div input-plain-editor title="Output sample-{{$index}}"    value="$parent.output_sample[$index]"></div>
                </div>

                <div input-button title="Add" click="addSample"></div>
            </div>


            <div input-editor title="Hint"                  value="hint"></div>

        </form>

        <div input-button title="Submit" click="Fire"></div>

    </div>

</div>