@font-face {
  font-family: 'Verb';
  font-style: normal;
  src: url("fonts/Fontspring-DEMO-VerbRegular.otf") format('Opentype');
}

@font-face {
  font-family: 'Verb';
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Fontspring-DEMO-VerbBold.otf") format('Opentype');
}