<link rel="stylesheet" href="css/bar.css">
<link rel="stylesheet" href="css/contestBoard.css">

<div ng-controller="contestBoardCtrl" class="container" role="main">


    <div class="page-header">
        <h2>{{contestInfo.contest_title}}</h2>
    </div>

    <div class="board-content">
        <div class="table-responsive">
            <table class="board-table">
                <tr class="board-head">
                    <th class="col-md-4 col-center">Rank</th>
                    <th class="col-md-4 col-center">User</th>
                    <th class="col-md-4 col-center">Count</th>
                    <th class="col-md-4 col-center">Penalty</th>
                    <th class="col-md-4 col-center"
                        ng-repeat="x in contestInfo.problem_list">{{x.sort_index}}</th>
                </tr>

                <tr ng-repeat="x in board.contest_player_list" class="board-content">
                    <td>{{$index + 1}}</td>
                    <td>{{x.user.username}}</td>
                    <td>{{x.solved_cnt}}</td>
                    <td>{{x.penalty}</td>
                    <td ng-repeat="y in contestInfo.problem_list"
                        ng-class="getStatus(x, y.sort_index)">
                        <div class="board-submit-cnt">{{x.info[y.sort_index].submit_cnt}}</div>
                        <div class="board-submit-time">{{x.info[y.sort_index].submit_cnt}}</div>
                    </td>
                </tr>

            </table>
        </div>
    </div>

</div>
