<link rel="stylesheet" href="css/home.css">

<div ng-controller="homeCtrl" class="container home-container" role="main">

	<div class="home-main-content col-md-38">
		<div class="home-section">
			<div class="home-section-title">
				<div class="home-title-deco"></div>
				<div class="home-title small-title-font">News</div>
				<div class="dot-group" ng-click="showNews()">
					<div class="dot-group-dot"></div>
					<div class="dot-group-dot"></div>
					<div class="dot-group-dot"></div>
				</div>
			</div>
			<div class="home-section-content row gutter-ten" ng-show="newsLoaded">
				<div class="col-sm-28">
					<div class="news-board news-board-big" ng-show="newsList[0]" ng-click="showNews(newsList[0].news_id)">
						<div class="news-board-title" ng-bind="newsList[0].news_title"></div>
						<div class="news-board-date">{{newsList[0].push_time | date:articleDate}}</div>
						<p class="news-board-content-big" ng-bind-html="newsList[0].news_excerpt"></p>
					</div>
				</div>
				<div class="col-sm-20">
					<div class="news-board" ng-show="newsList[1]" ng-click="showNews(newsList[1].news_id)">
						<div class="news-board-title" ng-bind="newsList[1].news_title"></div>
						<div class="news-board-date">{{newsList[1].push_time | date:articleDate}}</div>
					</div>
				</div>
				<div class="col-sm-20">
					<div class="news-board" ng-show="newsList[2]" ng-click="showNews(newsList[2].news_id)">
						<div class="news-board-title" ng-bind="newsList[2].news_title"></div>
						<div class="news-board-date">{{newsList[2].push_time | date:articleDate}}</div>
					</div>
				</div>

			</div>
			<div class="waiting-orange-small" ng-show="!newsLoaded"></div>

		</div>

		<div class="home-section">
			<div class="home-section-title">
				<div class="home-title-deco"></div>
				<div class="home-title small-title-font">Recent Contests</div>
				<div class="dot-group" ng-click="showContest()">
					<div class="dot-group-dot"></div>
					<div class="dot-group-dot"></div>
					<div class="dot-group-dot"></div>
				</div>
			</div>
			<div class="home-section-content row gutter-ten" ng-show="recentContestLoaded">
				<div class="col-sm-12" ng-repeat="x in contestList">
					<div class="home-contest-board home-contest-board">
						<p class="home-contest-board-time no-margin-bottom">{{x.start_time | date:articleDate}}</p>
						<p class="home-contest-board-time">{{x.start_time | date:hourAndMinute}}</p>
						<div class="home-contest-board-title-part">
							<p class="home-contest-board-title no-margin-bottom">{{x.contest_title}}</p>
							<p class="home-contest-board-type">{{x.contest_typename}}</p>
						</div>

						<div class="home-contest-board-icon-group">
							<div class="home-contest-board-icon-dur">
								<img src="./resource/clock-12px-grey.svg" />
								{{getTimeInterval(x) | time_interval}}
							</div>
							<div class="home-contest-board-icon-people">
								<img src="./resource/people-12px-grey.svg" />
								<b>×</b> {{x.player_cnt}}
							</div>
						</div>

						<button class="btn btn-default btn-thin col-center"
								ng-show="isLoggedIn && (!registeredContest[x.contest_id])"
								ng-click="registerContest(x.contest_id)">Register</button>
						<button class="btn btn-default btn-thin col-center"
								ng-show="!isLoggedIn || registeredContest[x.contest_id]"
								ng-click="showContest(x.contest_id)">View</button>
					</div>
				</div>
			</div>
			<div class="waiting-orange-small" ng-show="!newsLoaded"></div>

		</div>
	</div>

	<div class="side-bar col-md-10">
		<!--<div class="inf-board inf-board-side inf-board-thin" ng-show="isLoggedIn" ng-hide>-->
			<!--<div class="inf-board-title small-title-font">User</div>-->
			<!--<div class="inf-board-content">{{username}}</div>-->
		<!--</div>-->
		<div class="inf-board inf-board-side inf-board-thin">
			<div class="inf-board-title small-title-font">Statistics</div>
			<div class="inf-board-content" ng-show="siteInfoLoaded">
				<div class="table-responsive">
					<table class="table home-info-table">
						<tr>
							<th>Result</th>
							<th>Number</th>
						</tr>
						<tr>
							<td>Accepted</td>
							<td>{{siteInfo.ac_number}}</td>
						</tr>
						<tr>
							<td>Wrong Answer</td>
							<td>{{siteInfo.wa_number}}</td>
						</tr>
						<tr>
							<td>Compile Error</td>
							<td>{{siteInfo.ce_number}}</td>
						</tr>
						<tr>
							<td>Runtime Error</td>
							<td>{{siteInfo.re_number}}</td>
						</tr>
						<tr>
							<td>Time Limit Exceeded</td>
							<td>{{siteInfo.tle_number}}</td>
						</tr>
						<tr>
							<td>Mem Limit Exceeded</td>
							<td>{{siteInfo.mle_number}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="inf-board-content" ng-show="!siteInfoLoaded">
				<div class="waiting-orange-small-super"></div>
			</div>
		</div>
	</div>


</div>
