<link rel="stylesheet" href="css/login.css">
<div ng-controller="loginCtrl" class="login-main">

    <div class="login-container" ng-style="containerHeight">

        <div class="login-switch">
            <button ng-click="toLogin(); wrapperStyle={'border-color': '#faa634'}">LOG IN</button>
            <button id="sign-up-button" ng-click="toSignUp(); wrapperStyle={'border-color': '#67C761'}">SIGN UP</button>
        </div>



        <div class="input-wrapper" ng-style="wrapperStyle">
            <form ng-show="!signUpMode" ng-submit="loginFire(logInUsername, logInPassword)">
                <input ng-model="logInUsername" placeholder="Username" type="text" id="log-in-username">
                <input ng-model="logInPassword" placeholder="Password" type="password" id="log-in-pass">
                <button type="submit" ng-hide="true"value="Submit">
            </form>

            <form ng-show="signUpMode" ng-submit="registerFire(signUpUsername, signUpPassword, signUpPasswordAgain, signUpEmail)">
                <input ng-model="signUpEmail" placeholder="Email" type="email" id="sign-up-email">
                <input ng-model="signUpUsername" placeholder="Username" type="text" id="sign-up-username">
                <input ng-model="signUpPassword" placeholder="Password" type="password" id="sign-up-pass">
                <input ng-model="signUpPasswordAgain" placeholder="Password Again" type="password" id="sign-up-pass-again">
                <button type="submit" ng-hide="true" value="Submit">
            </form>
        </div>

        <!--

        <button ng-click="registerFire(indexUsername, indexPassword, indexPasswordAgain)" ng-show="signUpMode">Go</button>
        <button ng-click="loginFire(indexUsername, indexPassword)" ng-show="!signUpMode">Goo</button>
        -->
        <div class="login-click">

            <svg ng-show="signUpMode" ng-click="registerFire(signUpUsername, signUpPassword, signUpPasswordAgain, signUpEmail)" width="50px" height="50px" viewBox="487 475 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs>
                    <circle id="path-1" cx="25" cy="25" r="25"></circle>
                    <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="50" height="50" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                </defs>
                <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(487.000000, 475.000000)">
                    <use id="Oval" stroke="#67c761" mask="url(#mask-2)" stroke-width="6" fill="#F0ffef" xlink:href="#path-1"></use>
                    <circle id="Oval-2" fill="#67c761" cx="25.5" cy="25.5" r="12.5"></circle>
                </g>
            </svg>

            <svg ng-show="!signUpMode" ng-click="loginFire(logInUsername, logInPassword)" width="50px" height="50px" viewBox="487 475 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs>
                    <circle id="path-1" cx="25" cy="25" r="25"></circle>
                    <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="50" height="50" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                </defs>
                <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(487.000000, 475.000000)">
                    <use id="Oval" stroke="#FAA634" mask="url(#mask-2)" stroke-width="6" fill="#FFFAF0" xlink:href="#path-1"></use>
                    <circle id="Oval-2" fill="#FAA634" cx="25.5" cy="25.5" r="12.5"></circle>
                </g>
            </svg>

        </div>


    </div>

</div>
