<link rel="stylesheet" href="css/profile.css">
<div ng-controller="profileCtrl" class="container">

    <div ng-show="finishLoading">

        <div ng-show="!hasVerifiedEmail&&myProfile" class="inf-board inf-board-alert profile-verify-email">
            <div class="inf-board-title small-title-font">Verify your email address</div>
            <div class="inf-board-content">
                <form ng-submit="verifyCode()" class="profile-verify-email-form">
                    <input id="numberField" type="text" ng-model="verifyEmailCode" maxlength="6" pattern="\d{6}" required />
                    <button type="submit" class="btn btn-alert">Verify</button>
                </form>
                <p>Please enter the 6-digit number in the email we sent you. It usually takes <b>5 - 10</b> minutes for the email to arrive.</p>
                <p ng-show="!hasResend">You can also <span><button class="btn btn-alert btn-thin" ng-click="resendEmail()">Resend</button></span> an email.</p>
                <p ng-show="hasResend">The email has been resent.</p>
            </div>

        </div>

        <section class="row profile-top" ng-show="finishLoading">
            <div class="col-md-10"></div>
            <div class="profile-info-avatar col-md-14 col-center">
                <img src="user_head.png" />
                <header class="profile-username">{{userDetail.username}}</header>
            </div>
            <div class="col-md-1 vertical-separate hidden-sm"></div>
            <div class="col-md-1 hidden-sm"></div>
            <div class="profile-info-detail col-md-12">
                <section ng-show="userDetail.email">
                    <header class="profile-header">Email</header>
                    <div class="profile-content">{{userDetail.email}}<span ng-show="hasVerifiedEmail&&myProfile"> (Verified)</span></div>
                </section>
                <section>
                    <header class="profile-header">USTC ID<a ng-show="!hasBindId&&myProfile" class="profile-bind-id small-title-font" data-toggle="tooltip" title="施工中">BIND</a></header>

                    <div class="profile-content">{{userDetail.ustcid || "---"}}</div>
                </section>
                <section>
                    <header class="profile-header">Register Time</header>
                    <div class="profile-content">{{userDetail.register_time | date:fullTime}}</div>
                </section>
                <section>
                    <header class="profile-header">Last Online</header>
                    <div class="profile-content">{{userDetail.last_login | date:fullTime}}</div>
                </section>
            </div>
        </section>

        <section class="row profile-statistic">
            <div class="col-md-4">
            </div>
            <div class="col-md-40">
                <section class="profile-bubble">
                    <header class="profile-header" ng-show="userDetail.privilege&&userDetail.privilege.length">Privilege</header>
                    <div>
                        <div class="bubble" ng-repeat="x in userDetail.privilege" ng-show="x!=1">{{findPri(x)}}</div>
                    </div>
                </section>
                <section class="profile-bubble">
                    <header class="profile-header">Solved ({{userDetail.solved.length}})</header>
                    <div>
                        <div class="bubble" ng-repeat="x in userDetail.solved" ng-show="x!=1">{{x}}</div>
                    </div>
                </section>
                <section class="profile-bubble">
                    <header class="profile-header">Trying ({{userDetail.trying.length}})</header>
                    <div>
                        <div class="bubble profile-bubble-trying" ng-repeat="x in userDetail.trying" ng-show="x!=1">{{x}}</div>
                    </div>
                </section>

            </div>

        </section>

    </div>

    <div ng-show="!finishLoading" class="waiting-orange"></div>

</div>