<link rel="stylesheet" href="css/bar.css">
<link rel="stylesheet" href="css/showContest.css">
<div ng-controller="showContestCtrl" class="container">


    <div class="page-header">
        <h2>Problems</h2>
    </div>


    <div class="contest-content row" ng-show="finishLoading">

        <div class="col-md-36">

            <div class="table-responsive">

                <table class="contest-problem-table bar-table col-md-48">

                    <tr class="bar-head contest-problem-bar">

                        <th class="col-sm-5 col-center">ID</th>
                        <th class="col-sm-24 contest-problem-bar-title">Title</th>
                        <th class="col-sm-14 col-center bar-counter">
                            <div class="col-xs-18 col-center">Solved</div>
                            <div class="col-xs-12 col-center"></div>
                            <div class="col-xs-18 col-center">Trying</div>
                        </th>
                        <th class="col-md-5 col-center"></th>

                    </tr>

                    <tr class="bar-content contest-problem-bar" ng-repeat="x in contestInfo.problem_list"
                        ng-click="showContestProblem(x.sort_index)"
                        ng-class="{'contest-problem-bar-trying': myTrying[x.sort_index], 'contest-problem-bar-solved': mySolved[x.sort_index]}">

                        <td class="col-center"><div class="bardiv1"><div class="bardiv2">{{x.sort_index}}</div></div></td>
                        <td ng-class="{'contest-problem-bar-result-trying': myTrying[x.sort_index], 'contest-problem-bar-result-solved': mySolved[x.sort_index]}"><div class="bardiv1"><div class="bardiv2">{{x.problem_title}}</div></div></td>
                        <td class="col-center">
                            <div class="bardiv1">
                                <div class="bardiv2">
                                    <div class="col-xs-20 col-center">{{x.solved_cnt}}</div>
                                    <div class="col-xs-8 col-center">/</div>
                                    <div class="col-xs-20 col-center">{{x.trying_cnt}}</div>
                                </div>
                            </div>

                        </td>
                        <td class="col-center"><div class="bardiv1"><div class="bardiv2" ng-show="mySolved[x.sort_index]">&#x263A</div></div></td>

                    </tr>


                </table>

            </div>

            <div class="contest-desc" ng-bind-html="contestInfo.description"></div>

        </div>

        <div class="col-md-12 side-bar">
            <div class="inf-board inf-board-side inf-board-thin" id="side-submit">
                <div class="inf-board-title small-title-font">
                    {{contestInfo.contest_typename}}
                </div>
                <div class="inf-board-content" ng-bind-html="contestInfo.mode_msg">
                </div>
            </div>
        </div>


    </div>

    <div class="contest-content waiting-orange" ng-show="!finishLoading">

</div>