<link rel="stylesheet" href="css/bar.css">
<link rel="stylesheet" href="css/showContest.css">
<div ng-controller="showContestCtrl" class="container">


    <div class="page-header contest-title">
        <h2>{{contestInfo.contest_title}}</h2>
    </div>


    <div class="contest-content" ng-show="finishLoading">

        <div class="col-md-38 col-md-offset-1">

            <div class="table-responsive">

                <table class="contest-problem-table bar-table">

                    <tr class="bar-head contest-problem-bar">

                        <th class="col-md-5 col-center">ID</th>
                        <th class="col-md-24">Title</th>
                        <th class="col-md-14 col-center">
                            <div class="col-xs-18 col-center">Solved</div>
                            <div class="col-xs-12 col-center"></div>
                            <div class="col-xs-18 col-center">Trying</div>
                        </th>
                        <th class="col-md-5 col-center"></th>

                    </tr>

                    <tr class="bar-content contest-problem-bar" ng-repeat="x in contestInfo.problem_list"
                        ng-click="showContestProblem(x.sort_index)"
                        ng-class="{'contest-problem-bar-trying': myTrying[x.sort_index], 'contest-problem-bar-solved': mySolved[x.sort_index]}">

                        <td class="col-center"><div class="bardiv1"><div class="bardiv2">{{x.sort_index}}</div></div></td>
                        <td ng-class="{'contest-problem-bar-result-trying': myTrying[x.sort_index], 'contest-problem-bar-result-solved': mySolved[x.sort_index]}"><div class="bardiv1"><div class="bardiv2">{{x.problem_title}}</div></div></td>
                        <td class="col-center">
                            <div class="bardiv1">
                                <div class="bardiv2">
                                    <div class="col-xs-20 col-center">{{x.solved_cnt}}</div>
                                    <div class="col-xs-8 col-center">/</div>
                                    <div class="col-xs-20 col-center">{{x.trying_cnt}}</div>
                                </div>
                            </div>

                        </td>
                        <td class="col-center"><div class="bardiv1"><div class="bardiv2" ng-show="mySolved[x.sort_index]">&#x263A</div></div></td>

                    </tr>


                </table>

            </div>

        </div>

        <div class="col-md-8">

            <div><a ng-click="gotoBoard()">Board</a></div>
            <div><a ng-click="gotoSubmit()">Submit</a></div>
            <div><a ng-click="gotoStatus()">Status</a></div>

        </div>


    </div>

    <div class="contest-content waiting-orange" ng-show="!finishLoading">

</div>