<link rel="stylesheet" href="css/bar.css">
<link rel="stylesheet" href="css/status.css">
<div ng-controller="statusCtrl" class="container" role="main">

    <div class="page-header">
        <h2>Status</h2>
    </div>

    <div class="status-content" ng-show="finishLoading">
        <div class="table-responsive">

            <table class="status-table bar-table col-md-48">
                <tr class="bar-head status-bar">
                    <th class="col-md-3 col-center">ID</th>
                    <th class="col-md-7 col-center">Time</th>
                    <th class="col-md-10">Title</th>
                    <th class="col-md-6">User</th>
                    <th class="col-md-8 col-center">Status</th>
                    <th class="col-md-5 col-center">Run Time</th>
                    <th class="col-md-5 col-center">Compiler</th>
                    <th class="col-md-4 col-center">Memory</th>
                </tr>

                <tr ng-repeat="x in statusList.data.submission_list"
                    class="bar-content status-bar"
                    ng-class="{'problem-bar-trying': statusTrying[x.submission_id], 'problem-bar-solved': statusSolved[x.submission_id]}"
                    ng-click="showSubmission(x.submission_id)">
                    <td class="col-center"><div class="bardiv1"><div class="bardiv2">{{x.submission_id}}</div></div></td>
                    <td class="col-center"><div class="bardiv1"><div class="bardiv2">{{x.push_time}}</div></div></td>
                    <td><div class="bardiv1"><div class="bardiv2"><span ng-show="isContest">{{x.problem.sort_index + " - "}}</span>{{x.problem.problem_title}}</div></div></td>
                    <td><div class="bardiv1"><div class="bardiv2">{{x.user.username}}</div></div></td>
                    <td class="col-center"
                        ng-class="{'problem-bar-result-trying': statusTrying[x.submission_id], 'problem-bar-result-solved': statusSolved[x.submission_id]}">
                        <div class="bardiv1"><div class="bardiv2">{{getResult(x.result)}}</div></div>
                    </td>
                    <td class="col-right"><div class="bardiv1"><div class="bardiv2">{{getMaxTime(x)}}</div></div></td>
                    <td class="col-center"><div class="bardiv1"><div class="bardiv2">{{getLanguage(x.language)}}</div></div></td>
                    <td class="col-right"><div class="bardiv1"><div class="bardiv2">{{getMaxMem(x) | bytes}}</div></div></td>
                </tr>
            </table>
        </div>

        <br>

        <div class="page-switch-container" ng-show="!isContest">
            <div class="pages-switch pages-switch-submission">
                <svg ng-click="pageOffset(-1)"
                     class="pages-switch-button" width="14px" height="23px" viewBox="422 692 14 23" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <polygon id="Triangle" stroke="none" fill="#D8D8D8" fill-rule="evenodd"
                             transform="translate(429.000000, 703.500000) rotate(-90.000000) translate(-429.000000, -703.500000) "
                             points="429 696.5 440.5 710.5 417.5 710.5"></polygon>
                </svg>
                <div class="pages-switch-number">
                    <input placeholder=" " class="pages-switch-number-choose" ng-model="pageNow"
                           ng-keypress="catchEnter($event)"/>
                    <div class="pages-switch-number-slash">/</div>
                    <div class="pages-switch-number-sum" ng-bind="pageSum">..</div>
                </div>
                <svg ng-click="pageOffset(+1)"
                     class="pages-switch-button" width="14px" height="23px" viewBox="422 692 14 23" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <polygon id="Triangle" stroke="none" fill="#D8D8D8" fill-rule="evenodd"
                             transform="translate(429.000000, 703.500000) rotate(90.000000) translate(-429.000000, -703.500000) "
                             points="429 696.5 440.5 710.5 417.5 710.5"></polygon>
                </svg>
            </div>
        </div>



    </div>

    <div class="status-content waiting-orange" ng-show="!finishLoading">


</div>