<link rel="stylesheet" href="css/submit.css">

<div ng-controller="submitCtrl" class="container">

    <div class="page-header">
        <h2>Submit</h2>
    </div>


    <form class="form-horizontal">

        <div class="form-group">
            <label for="inputProblemID" class="col-sm-8 control-label">Prob ID</label>
            <div class="col-sm-40">
                <input ng-model="submitId" type="text" class="form-control" id="inputProblemID">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-8 control-label">Prob Title</label>
            <div class="col-sm-40">
                <p class="form-control-static">????</p>
            </div>
        </div>

        <div class="form-group">
            <label for="submit-language-select" class="col-sm-8 control-label">Language</label>
            <div class="col-sm-40">
                <select ng-model="submitLang" class="form-control" id="submit-language-select">
                    <option ng-repeat="x in languageList" value="{{$index}}">{{x}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Share</label>
            <div class="col-sm-10">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>
                        Yes
                    </label>
                </div>

                <div class="radio-inline">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="0" checked>
                        No
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="codeTextarea" class="col-sm-2 control-label">Code</label>
            <div class="col-sm-10">
                <textarea ng-model="submitCode" id="codeTextarea" class="form-control" rows="10"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button class="btn btn-primary" ng-click="submitFire(submitSource, submitLang, submitId)">
                    Submit
                </button>
            </div>
        </div>

    </form>


</div>
