<link rel="stylesheet" href="css/submit.css">

<div ng-controller="submitCtrl" class="container">



    <div class="container-sm">

        <div class="page-header">
            <h2>Submit</h2>
        </div>

        <form class="form-horizontal submit-form">

            <div class="form-group" ng-show="!isContest">
                <label for="inputProblemID" class="col-sm-8 control-label">Prob ID</label>
                <div class="col-sm-40">
                    <input ng-model="submitId"
                           type="text"
                           class="form-control submit-id-input"
                           id="inputProblemID"
                           ng-change="getProblemTitle()">
                </div>
            </div>

            <div class="form-group" ng-show="isContest">
                <label for="inputProblemID" class="col-sm-8 control-label">Contest</label>
                <div class="col-sm-40">
                    <p class="form-control-static">{{contestInfo.contest_title}}</p>
                </div>
            </div>

            <div class="form-group" ng-show="!isContest">
                <label class="col-sm-8 control-label">Prob Title</label>
                <div class="col-sm-40">
                    <p class="form-control-static" ng-bind="submitTitle"></p>
                </div>
            </div>

            <div class="form-group" ng-show="isContest">
                <label class="col-sm-8 control-label">Problem</label>
                <div class="col-sm-40">
                    <select ng-model="nowContestProblem" class="form-control" id="submit-contest-problem">
                        <option ng-repeat="x in contestProblem" value="{{x.sort_index}}">{{x.sort_index + '. ' + x.problem_title}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="submit-language-select" class="col-sm-8 control-label">Language</label>
                <div class="col-sm-40">
                    <select ng-model="submitLang" class="form-control submit-language-select" id="submit-language-select"
                        ng-options="id as x for (id, x) in languageList">
                    </select>
                    <!--<p>{{submitLang}}</p>-->
                </div>
            </div>

            <div class="form-group" ng-show="!isContest">
                <label class="col-sm-8 control-label">Share</label>
                <div class="col-sm-40">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios0" value="1" checked>
                            Yes
                        </label>
                    </div>

                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="0" checked>
                            No
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-48 submit-area">
                    <textarea ng-model="submitSource" id="codeTextarea" class="form-control" rows="10"></textarea>
                </div>
            </div>

        </form>

        <div class="submit-btn">

            <svg  ng-click="submitFire()" width="50px" height="50px" viewBox="487 475 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <circle id="path-1" cx="25" cy="25" r="25"></circle>
                    <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="50" height="50" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                </defs>
                <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(487.000000, 475.000000)">
                    <use id="Oval" stroke="#FAA634" mask="url(#mask-2)" stroke-width="6" fill="#FFFAF0" xlink:href="#path-1"></use>
                    <circle id="Oval-2" fill="#FAA634" cx="25.5" cy="25.5" r="12.5"></circle>
                </g>
            </svg>

        </div>



    </div>




</div>
