body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:url('../../images/homepage/bg.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:400px 400px;
  position:relative;
  left:-241px;
  width:319px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u0 {
  position:absolute;
  left:241px;
  top:362px;
  width:300px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2 {
  position:absolute;
  left:260px;
  top:453px;
  width:300px;
  height:1px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u4 {
  position:absolute;
  left:241px;
  top:463px;
  width:300px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MyriadPro-Semibold', 'Myriad Pro Semibold', 'Myriad Pro';
  font-weight:650;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#u6 {
  position:absolute;
  left:241px;
  top:339px;
  width:160px;
  height:22px;
  font-family:'MyriadPro-Semibold', 'Myriad Pro Semibold', 'Myriad Pro';
  font-weight:650;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MyriadPro-Semibold', 'Myriad Pro Semibold', 'Myriad Pro';
  font-weight:650;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#u8 {
  position:absolute;
  left:241px;
  top:440px;
  width:81px;
  height:22px;
  font-family:'MyriadPro-Semibold', 'Myriad Pro Semibold', 'Myriad Pro';
  font-weight:650;
  font-style:normal;
  color:#797979;
  text-align:center;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MyriadPro-Semibold', 'Myriad Pro Semibold', 'Myriad Pro';
  font-weight:650;
  font-style:normal;
  color:#434343;
  text-align:center;
}
#u10 {
  position:absolute;
  left:296px;
  top:279px;
  width:72px;
  height:29px;
  font-family:'MyriadPro-Semibold', 'Myriad Pro Semibold', 'Myriad Pro';
  font-weight:650;
  font-style:normal;
  color:#434343;
  text-align:center;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MyriadPro-Semibold', 'Myriad Pro Semibold', 'Myriad Pro';
  font-weight:650;
  font-style:normal;
  color:#434343;
  text-align:center;
}
#u12 {
  position:absolute;
  left:405px;
  top:279px;
  width:88px;
  height:29px;
  font-family:'MyriadPro-Semibold', 'Myriad Pro Semibold', 'Myriad Pro';
  font-weight:650;
  font-style:normal;
  color:#434343;
  text-align:center;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:293px;
  top:311px;
  width:75px;
  height:6px;
  opacity:0.8;
}
#u15 {
  position:absolute;
  left:2px;
  top:-5px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:2px;
}
#u16 {
  position:absolute;
  left:260px;
  top:316px;
  width:260px;
  height:1px;
  color:#515151;
}
#u17 {
  position:absolute;
  left:2px;
  top:-8px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18 {
  position:absolute;
  left:367px;
  top:543px;
  width:50px;
  height:50px;
  opacity:0.7;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
