.editormd-window-title {
    min-height: 500px;
}

.editormd-window-input-description {
    min-height: 500px;
}

.editormd-window-output-description {
    min-height: 500px;
}

.editormd-window-title-hint {
    min-height: 500px;
}