@supports(-webkit-backdrop-filter: blur()) {
    .fixed-navbar{
        position: fixed;
        -webkit-backdrop-filter: blur(20px);
        background-color: rgba(255, 255, 255, 0.75);
        top: 0px;
        left: 0px;
        height: 53px;
        width: 100%;

        /*box-shadow: 0px 2px 10px #a5a5a5;*/
        border-bottom: 2px solid #faa634;
        font-family: "Open Sans", sans-serif;
        color: #333333

    }
}

@supports not (-webkit-backdrop-filter: blur()) {
    .fixed-navbar{
        position: fixed;
        background-color: rgba(255, 255, 255, 0.95);
        top: 0px;
        left: 0px;
        height: 53px;
        width: 100%;

        /*box-shadow: 0px 2px 10px #a5a5a5;*/
        border-bottom: 2px solid #faa634;
        font-family: "Open Sans", sans-serif;
        color: #333333

    }
}

.fixed-navbar-container{
    /*width: 1200px;*/
    margin: 0 auto;
    position: relative;
    z-index: 1000;

}

.fixed-navbar a {
    text-decoration: none;
    color: #333333
}

.fixed-navbar-left {

    line-height: 53px;
    display: block;
    float: left;
    border: none;
    font-size: 16px;
    background-color: transparent;

}

.fixed-navbar-left #searchArea {
    float: left;
}

.fixed-navbar-left ul {
    list-style: none;
    overflow: hidden;
}

.fixed-navbar-left li{
    display: block;
    float: left;
    width: 100px;
}

.fixed-navbar-left button {
    height: 53px;
    display: block;
    width: 30px;
    padding: 0;
    margin-left: 20px;
    margin-right: 7px;
    border: none;
    background: none;
    float: left;
}

.fixed-navbar-left input{
    outline: none;
    line-height: 53px;
    float: left;
    width: 60px;
    border: none;
    border-right: 20px;
    font-size: 10px;
    background-color: transparent;
    color: grey;
}

.fixed-navbar-left input :hover{
    color: #333333;
}

.fixed-navbar-right {
    margin-right: 30px;
    float: right;
    line-height: 53px;
    display: block;
    border: none;
    font-size: 16px;
    background-color: transparent;
}

.fixed-navbar-right button{
    line-height: 53px;
    width: 100px;
    float: right;
    border: none;
    font-size: 16px;
    background-color: #f5f5f5;

}

.fixed-navbar-right ul {
    list-style: none;
    overflow: hidden;
}

.fixed-navbar-right li{
    display: block;
    float: right;
    width: 100px;
}

.fixed-navbar-title{
    /*padding-top: 8px;
    margin-left: 450px;
    width: 300px;*/
    /*margin-left: 480px;*/
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    line-height: 53px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /*
    z-index: 1;
    background-position: center center;
    */
}

.fixed-navbar-title #public-version{
    font-weight: lighter;
    color: #aaaaaa;
    font-size: 10px;
}

.fixed-navbar-right .fixed-navbar-user{
    float: right;
    padding-top: 7px;
}

.fixed-navbar-user img{
    width: 36px;
    height: 36px;
}