
.prob-content{
    margin-left: 20px;
    width: 780px;
    background-color: white;
    padding: 40px;
    padding-bottom: 80px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 10px #a5a5a5;
}

.prob-title{
    text-align: center;
    margin-bottom: 18px;
}

.prob-title h2{
    font-size: 28px;
    padding-bottom: 5px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.prob-title-inf {
    margin-bottom: 7px;
    margin-top: 7px;
}

.prob-title-inf p{
    font-size: 14px;
    color: #6B6B6B;
    font-family: "Open Sans", sans-serif;
}

.prob-desc {
    font-size: 16px;
    margin-bottom: 18px;
    margin-top: 8px;
    line-height: 1.7;
}

.prob-desc p{
    font-size: 16px;
    margin-bottom: 18px;
    margin-top: 8px;
    line-height: 1.7;
}

.prob-desc h4{
    /*margin-bottom: 10px;*/

    margin-top: 25px;
}


.prob-sample li{
    list-style: none;
    /* ����inline-block�ļ�� */
    word-spacing: -10px;
}

.prob-sample{
    padding: 0px 2px 0px 2px;

}

.prob-sample li div{
    display: inline-block;
    width: 360px;
    height: 36px;
    border: 1px solid #a5a5a5;
    border-top: none;
    line-height: 36px;
    background-color: #fffaf0;
    padding-left: 10px;
    word-spacing: 0px;
}

.prob-sample li .prob-sample-head{
    background-color: transparent;
    border: none;
    font-weight: bold;
    padding: 2px;
    border-bottom: 1px solid #a5a5a5;
}


.prob-rightbar{
    float: right;
    width: 200px;
}

.prob-rightbar-item{
    width: 200px;
    background-color: white;
    box-shadow: 2px 2px 10px #a5a5a5;
    margin-bottom: 35px;
}

.prob-rightbar-item div{
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
}

.prob-rightbar-item .prob-right-head{
    font-size: 14px;
    background-color: #efefef;
    font-weight: bold;
}

.prob-rightbar-item .prob-right-prob{
    font-size: 14px;
    background-color: #faa634;;
    color: white;
}

.prob-rightbar-item .prob-right-tag{
    padding: 2px 10px 2px 10px;
    margin: 8px 20px 8px 20px;
    background-color: #efefef;
    border-radius: 20px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}