

.prob-title{
    text-align: center;
    margin-bottom: 18px;
}

.prob-title h2{
    font-size: 34px;
    padding-bottom: 5px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.prob-title-inf {
    margin-bottom: 7px;
    margin-top: 7px;
}

.prob-title-inf p{
    font-size: 14px;
    color: #6B6B6B;
    font-family: "Open Sans", sans-serif;
}

.prob-inner-content div {
    margin-top: 0px;
    margin-bottom: 30px;
}

.prob-inner-content div div {
    font-size: 15px;
    margin-bottom: 16px;
    margin-top: 8px;
    line-height: 1.7;
}

.prob-desc br{
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 18px;
}



.prob-sample li{
    list-style: none;
    /* ����inline-block�ļ�� */
    word-spacing: -10px;
}

.prob-sample{
    padding: 0px 2px 0px 2px;

}

.prob-sample li div{
    display: inline-block;
    width: 360px;
    height: 36px;
    border: 1px solid #a5a5a5;
    border-top: none;
    line-height: 36px;
    background-color: #fffaf0;
    padding-left: 10px;
    word-spacing: 0px;
}

.prob-sample li .prob-sample-head{
    background-color: transparent;
    border: none;
    font-weight: bold;
    padding: 2px;
    border-bottom: 1px solid #a5a5a5;
}


