.submit-list td:first-child {
    color: #8e8e8e;
    font-weight: bold;
    font-size: 18px;
    width: 50px;
    margin-right: 20px;
}

.submit-list table tr td:nth-child(2) {
    font-size: 18px;
}

.submit-list table {
    margin-left: 10px;
}

.submit-list tr {
    height: 35px;
    vertical-align: top;
}

#submit-id-input {
    border: 0;
    outline: none;
    border-bottom: solid 1px #8e8e8e;
    text-align: center;
    font-size: 20px;
}

#submit-language-select {
    outline: none;
}

.submitArea {
    margin-top: 20px;
}

.submitArea textarea{
    font-family: monospace;
    padding: 5px;
    resize: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:solid 1px #8e8e8e;
    outline: none;
    width: 600px;
    height: 300px;
}