*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    /*box-sizing: border-box;*/

}

body{
    /*background-image: url("../background2.png");*/
    /*background-repeat: repeat;*/
    /*height: 100%;
    width: 100%;
    display: block;
    */
    /*background-color: #fffaf0;*/
    }

.contentMain {
    /*position: inherit;*/
}


.bigContainer {
    width: 1100px;
    height: auto;
    /*margin: 80px auto 0px;*/
    margin:80px auto auto;
    color: #333333;
    font-size: 18px;
    line-height: 1.5;
}


.bigContent,.biggerContent{
    margin-left: 20px;
    width: 780px;
    background-color: transparent;
    padding: 40px;
    padding-bottom: 80px;
    margin-bottom: 40px;
    /*box-shadow: 2px 2px 10px #a5a5a5;*/
}

.biggerContent {
    width: 1000px;
}

.bigContent > h2 {
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.biggerContent > h2 {
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.small-bubble {
    font-size: 14px;
    background-color: #f8f8f8;
    border-radius: 10px;
    height: 16px;
    padding: 2px;
    float: left;
}
.page-switch-container {
    height: 36px;
    width: 100%;
}

.pages-switch {
    display: block;
    float: right;
    height: 36px;
    width: 200px;
}

.pages-switch-number-choose {
    font-size: 16px;
    text-align: center;
    float: left;
    width: 36px;
    height: 36px;
    border: none;
    outline: none;
    background-color: #f8f8f8;
}

.pages-switch-number {
    float: left;
    text-align: center;
    line-height: 36px;
    width: 100px;
    height: 36px;
    font-size: 16px;
}
.pages-switch-number-slash {
    height: 36px;
    width: 30px;
    float: left;
}

.pages-switch-number-sum {
    height: 36px;
    width: 30px;
    float: left;
}

.pages-switch-button {
    float: left;
    height: 36px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

#Triangle:hover {
    fill: #faa634;
}

.rightbar{
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;;
    float: right;
    width: 220px;
    margin-top: 100px;
    padding-left: 12px;
    border-left: 1px solid #dddddd;
}

.rightbarItem {
    width: 200px;
    background-color: transparent;
    /*box-shadow: 2px 2px 10px #a5a5a5;*/
    /*border-left: 2px dotted #faa634;*/
    padding-left: 10px;
    margin-bottom: 35px;
}

.rightbarItem div{
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    /*text-align: center;*/
}

.rightbarItem .rightbarHead{
    font-size: 16px;
    /*background-color: #efefef;*/
    font-weight: bold;
}

.rightbarItem .rightbarProb{
    font-size: 14px;
    /*background-color: #faa634;;*/
    color: #faa634;
    font-weight: bold;
}

.rightbarItem .rightbarTag{
    /*
    padding: 2px 10px 2px 10px;
    margin: 8px 20px 8px 20px;
    background-color: #efefef;
    border-radius: 20px;
    */
    height: 25px;
    line-height: 25px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
