*{
    margin: 0;
    padding: 0;
}

body{
    /*background-image: url("../background2.png");*/
    /*background-repeat: repeat;*/
    /*height: 100%;
    width: 100%;
    display: block;
    */
    /*background-color: #fffaf0;*/
    font-family: "Open Sans", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
}

.contentMain {
    /*position: inherit;*/
}


.bigContainer{
    width: 1100px;
    margin: 80px auto 0px;
    color: #333333;
    font-size: 18px;
    line-height: 1.5;
}


.bigContent{
    margin-left: 20px;
    width: 780px;
    background-color: transparent;
    padding: 40px;
    padding-bottom: 80px;
    margin-bottom: 40px;
    /*box-shadow: 2px 2px 10px #a5a5a5;*/
}

.bigContent h2 {
    margin-bottom: 20px;
}

.rightbar{
    float: right;
    width: 200px;
    margin-top: 100px;
}

.rightbarItem {
    width: 200px;
    background-color: transparent;
    /*box-shadow: 2px 2px 10px #a5a5a5;*/
    border-left: 2px dotted #faa634;
    padding-left: 10px;
    margin-bottom: 35px;
}

.rightbarItem div{
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    /*text-align: center;*/
}

.rightbarItem .rightbarHead{
    font-size: 16px;
    /*background-color: #efefef;*/
    font-weight: bold;
}

.rightbarItem .rightbarProb{
    font-size: 14px;
    /*background-color: #faa634;;*/
    color: #faa634;
    font-weight: bold;
}

.rightbarItem .rightbarTag{
    /*
    padding: 2px 10px 2px 10px;
    margin: 8px 20px 8px 20px;
    background-color: #efefef;
    border-radius: 20px;
    */
    height: 25px;
    line-height: 25px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
