

.bar-content {
    margin-top: 12px;
    background-color: #f9f9f9;

    border-radius: 10px;

    line-height: 24px;
    padding: 6px;
}

.bar-content > div {
    text-overflow: ellipsis;
    overflow:hidden;
    border-right: 1px solid #dfdfdf;

}

.bar-head {
    font-weight: bold;
    color: #8e8e8e;
}

.bar-table {
    border-collapse: separate;
    border-spacing: 0 12px;
}

.bar-table thead th {
    font-weight: bold;
    color: #8e8e8e;
}

.bar-table tbody td {
    background-color: #f9f9f9;
    cursor: pointer;
    padding: 6px 0px;
}

.bardiv1 {
    overflow:auto;
    line-height: 24px;
    width: 100%;
    border-right: 1px solid #dfdfdf;
}

.bardiv2 {
    overflow:auto;
    line-height: 24px;
    width: 100%;
    padding: 0px 12px;
}

.bar-table tr td:first-child,
.bar-table tr th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bar-table tr td:last-child,
.bar-table tr th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bar-table tr td:last-child > div {
    border: none;
}

.problem-bar-trying > td {
    background-color: #f0ffef !important;
}

.problem-bar-result-trying {
    font-weight: bold;
    color: #67c761;
}

.problem-bar-result-solved {
    font-weight: bold;
    color: #faa634;
}

.problem-bar-solved > td {
    background-color: #fffaf0 !important;
}


