

.bar-content {
    margin-top: 12px;
    background-color: #f9f9f9;

    border-radius: 10px;

    line-height: 24px;
    padding: 6px;
}

.bar-content > div {
    text-overflow: ellipsis;
    overflow:hidden;
    border-right: 1px solid #dfdfdf;

}

.bar-head {
    font-weight: bold;
    color: #8e8e8e;
}


.problem-bar-container-id {
    width: 45px;
    text-align: center
}

.problem-bar-container-title {
    min-width: 400px;
}

.problem-bar-container-count {
    padding-left: 10px;
    padding-right: 10px;
}

.problem-bar-container-count .problem-bar-container-count-number{
    display: inline-block;
    width: 64px;
    text-align: center;
}

.problem-bar-container-icon{
    border: none;
    text-align: center;
}

.problem-container {
    background: none;
    color: #8e8e8e;
    font-weight: bold;
}

.problem-container div {
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    border: none;
}

.problem-container-count-slash {
    visibility: hidden;
}

.problem-bar-trying {
    background-color: #f0ffef !important;
}

.problem-bar-result-trying {
    font-weight: bold;
    color: #67c761;
}

.problem-bar-result-solved {
    font-weight: bold;
    color: #faa634;
}

.problem-bar-solved {
    background-color: #fffaf0 !important;
}


