.bind-board {
    padding: 18px 0;
}

.btn-group-n {
    width: 150px;
    height: 35px;
    margin: 12px auto 0 auto;
}

.btn-group-n .btn {
    float: left;
    margin: 0 12px;
}

.bind-board > .btn-group-n > .btn {
    padding-left: 12px;
    padding-right: 12px;
}

.btn-yes {
    background-color: white;
}