.contest-problem-table {
    width: 100%;
}

.contest-list-content {
    font-size: 16px;
}

.contest-bar-left-part {
    min-width: 300px;
}

.contest-bar-right-part {
    min-width: 180px;
}

.contest-bar-right {
    padding: 3px 3px !important;
}

.contest-bar-left {
    vertical-align: top;
    padding: 6px 6px !important;
}

.contest-table tbody tr {
    cursor: default;
}

.contest-table {
    margin-top: 20px;
    margin-bottom: 25px;
}

.contest-title {
    font-weight: 600;
    height: 32px;
    /*padding: 12px 12px;*/
    margin:12px;
    font-size: 24px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contest-type {
    font-size: 12px;
    margin-left: 13px;
    text-transform: uppercase;
    color: #888888;
}

.contest-button {
    float: left;
    margin: 12px 18px 0 12px;
}

.contest-time {
    text-align: center;
    margin: 15px 10px;
}
.contest-time > h5 {
    color: #888888;
    margin: 0;
}


.contest-table {
    margin-top: -56px;
    border-collapse: separate;
    border-spacing: 0 44px !important;
}

.contest-bar .bar-content {
    margin-top: 12px;
    line-height: 32px;
    padding: 12px;
}

.contest-bar .bardiv1 {
    overflow:auto;
    line-height: 32px;
    width: 100%;
    border-right: 1px solid #dfdfdf;
}

.contest-bar .bardiv2 {
    overflow:auto;
    line-height: 32px;
    width: 100%;
    padding: 0px 12px;
}

.contest-board-icon {
    height: 24px;
    margin-bottom: 12px;
}

.contest-board-icon {
    float: left;
    line-height: 24px;
    color: #4a4a4a;
}

.contest-board-icon > img {
    vertical-align: middle;
    margin-bottom: 2px;
}