.home-container {
    padding: 0 !important;
}

.home-main-content {
    padding-left: 5px;
    padding-right: 5px;
}

.home-title {
    text-transform: uppercase;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.home-section {
    margin-bottom: 36px;
}

.home-section-title {
    height: 32px;
}

.home-title-deco {
    float: left;
    margin: 2px 12px 2px 18px;
    height: 24px;
    width: 6px;
    background-color: #faa634;
    content: "";
}

.home-section-content {
    margin: 6px 0;
}

.news-board {
    cursor: pointer;
    background-color: #f8f8f8;
    border-radius: 8px;
    min-height: 96px;
    padding: 12px;
    margin: 10px 0;
    transition: box-shadow 0.5s;
}

.news-board:hover {
    box-shadow: 0 0 0 1pt #faa634;
    transition: box-shadow 0.5s;
}

.news-board > p {
    color: #4a4a4a;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.news-board-big {
    background-color: #fffaf0;
}

@media (min-width: 768px) {

    .home-main-content {
        padding-top: 16px;
    }

    .news-board-big {
        padding: 20px;
        height: 212px;
        overflow: hidden;
    }

    .news-board-content-big {
        height: 60px;
    }

    .home-contest-board-title-part {
        min-height: 92px;
    }

    .news-board-content-big {
        min-height: 60px;
    }

    .news-board-title-big {
        min-height: 96px;
    }

    .news-board-big .news-board-title {
        min-height: 80px;
    }

}

.news-board-title {
    min-height: 50px;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

.news-board-big .news-board-title {
    font-size: 28px;
}


.new-board-desc-big {
    font-size: 14px;
    color: #4a4a4a;
}

.news-board-more {
    background-color: #f8f8f8;
}

.dot-group {
    float: left;
    width: 66px;
    height: 28px;
    padding: 10px 8px;
    margin: auto auto;
    cursor: pointer;
}

.dot-group:hover > .dot-group-dot {
    background-color: #faa634;
    transition: background-color 0.3s;
}

.dot-group-dot {
    float: left;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background-color: #c8c8c8;
    content: "";
    margin: 0 3px;
    transition: background-color 0.3s;
}

.news-board-date {
    display: inline-block;
    background-color: #aaaaaa;
    color: #f8f8f8;
    font-size: 12px;
    vertical-align: middle;
    padding: 0 4px;
}

.news-board-big .news-board-date {
    background-color: #faa634;
    color: #fffaf0;
}

.news-board-big .news-board-date {
    margin-top: 6px;
    margin-bottom: 8px;
}

.home-contest-board {
    border-radius: 8px;
    margin-top: 10px;
    padding: 12px;
    background-color: #fffaf0;

    transition: box-shadow 0.5s;
}

.home-contest-board:hover {
    box-shadow: 0 0 0 1pt #faa634;
    transition: box-shadow 0.5s;
}

.home-contest-board-time {
    font-size: 18px;
}

.home-contest-board-time-date {
    margin-bottom: 0;
}

.home-contest-board-title {
    font-weight: 600;
    font-size: 18px;
    max-height: 75px;
    overflow: hidden;
}

.home-contest-board-type {
    font-size: 12px;
    color: #4a4a4a;
    text-transform: uppercase;
}

.home-contest-board-icon-group {
    height: 24px;
    margin-bottom: 12px;
}

.home-contest-board-icon-group > div {
    float: left;
    width: 50%;
    line-height: 24px;
    color: #4a4a4a;
}

.home-contest-board-icon-group > div > img {
    vertical-align: middle;
    margin-bottom: 2px;
}

.home-info-table > tbody > tr > th {
    border-top: none;
}

.home-info-table {
    margin-bottom: -4px;
}

