
.input-wrapper {
    padding: 2px 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid #faa634;
    display: block;
}

.login-container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 28%;
}

.login-container label {
    color: #797979;
    font-size: 18px;
}

.login-container input {
    font-size: 20px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border-width: 0px;
    outline: none;
}

.login-switch {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.login-switch button {
    font-size: 18px;
    color: #8e8e8e;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.login-switch #sign-up-button {
    float: right;
}

.login-click {
    width: 64px;
    margin-left: auto;
    margin-right: auto;
}

.login-click svg {
    cursor: pointer;
}

