
.login-main {
    height: 100%;
    min-height: 540px;
    margin-bottom: -50px;
}

.login-container {
    position: absolute;
    width: 290px;
    left: 50%;
    top: 50%;
    height: 310px;
    margin-top: -150px;
    margin-left: -150px;
}
@media (max-width: 767px) {
    .login-main {
        height: auto;
        min-height: 0;
        margin-bottom: 0;
    }
    .login-container {
        position: absolute;
        width: 300px;
        left: 50%;
        top: 50%;
        height: 310px;
        margin-top: -150px;
        margin-left: -150px;
        margin-bottom: 60px;
    }
}

.login-offset {
    height: 40px;
}

.input-wrapper {
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid #faa634;
    display: block;
}

.login-container input {
    color: #333333;
    padding: 0 6px;
    font-size: 20px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border-width: 0;
    outline: none;
}

.login-container input::-webkit-input-placeholder {
    color: #8e8e8e;
}
.login-container input::-moz-placeholder {
    color: #8e8e8e;
}
.login-container input:-ms-input-placeholder {
    color: #8e8e8e;
}

.login-switch {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.login-switch button {
    font-size: 18px;
    color: #8e8e8e;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.login-switch #sign-up-button {
    float: right;
}

.login-click {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.login-click svg {
    cursor: pointer;
}

