.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position:absolute;
    z-index:99999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.3;
}
.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index:100000;
    position: fixed;
    margin-top: 120px;
    width: 100%;
    max-width: 750px; /* Default */
    padding: 0 15px;

    /* Center the dialog */

    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    /*background-color: #fff;*/
    /*box-shadow: 4px 4px 80px #000;*/
}
.ng-modal-dialog > .inf-board {
    box-shadow: 1px 1px 80px #333;
}
.ng-modal-dialog-content {
    padding:10px;
    text-align: left;
}
.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
}

.modal-form {
    width: 260px;
    margin: 12px auto;
}

.modal-password-field {
    width: 100%;
    outline: none;
    text-align: center;
    font-size: 24px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #faa634;
    border-radius: 0;
}