

.search-btn, .search-form {
    margin: 0;
}

.search-btn {
    border: none;
    padding: 0;
    margin-top: 14px;
    margin-bottom: 9px;
}

.search-btn:hover {
    background: none;
}

.search-text {
    margin-left: 5px;
    margin-top: 9px;
    margin-bottom: 10px;
}

.search-text > input {
    border: 1px solid #e8e8e8;
    font-size: 12px;
    width: 90px;
}


.navbar-header {
    min-height: 53px;
    z-index: 9999;
}

.navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-header > button {
    border: none;
}

.navbar-logo {
    line-height: 53px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand {
    padding-top: 16px;
}

.navbar-brand-text {
    max-height: 53px;
    max-width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#public-version{
    font-weight: lighter;
    color: #aaaaaa;
    font-size: 10px;
}

#navbar > ul > li > a {
    font-size: 16px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 53px;
    font-weight: normal;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;}
}

.user-avatar {
    background-color: white;
    border-radius: 18px;
    max-height: 36px;
    max-width: 36px;
}
