
@supports(-webkit-backdrop-filter: blur()) {
    .navbar-fixed-top{
        -webkit-backdrop-filter: blur(20px);
        background-color: rgba(255, 255, 255, 0.70);

    }
}

@supports not (-webkit-backdrop-filter: blur()) {
    .navbar-fixed-top{
        background-color: rgba(255, 255, 255, 0.95);
    }
}

.search-btn, .search-form {
    margin: 0;
}

.search-btn {
    border: none;
    padding: 0;
    margin-top: 14px;
    margin-bottom: 10px;
}

.search-text {
    margin-left: 5px;
    margin-top: 9px;
    margin-bottom: 10px;
}

.search-text > input {
    border: none;
    font-size: 12px;
    width: 80px;
}



.navbar-fixed-top {
    min-height: 53px;
    border-bottom: 2px solid #faa634;
    color: #333333;
    z-index: 9999;
}

.navbar-header {
    min-height: 53px;
    z-index: 9999;
}

.navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-header > button {
    border: none;
}

.navbar-logo {
    line-height: 53px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand {
    padding: 2px auto;
    line-height: 53px;
}

#public-version{
    font-weight: lighter;
    color: #aaaaaa;
    font-size: 10px;
}

#navbar > ul > li > a {
    font-size: 16px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 53px;
    font-weight: normal;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;}
}

.user-avatar {
    height: 36px;
}
