
@supports(-webkit-backdrop-filter: blur()) {
    .navbar-fixed-top{
        -webkit-backdrop-filter: blur(20px);
        background-color: rgba(255, 255, 255, 0.70);

    }
}

@supports not (-webkit-backdrop-filter: blur()) {
    .navbar-fixed-top{
        background-color: rgba(255, 255, 255, 0.95);
    }
}

.navbar-fixed-top {
    min-height: 53px;
    border-bottom: 2px solid #faa634;
    color: #333333;
    z-index: 9999;
}