.profile-avatar {
    margin-top: 5%;
    margin-bottom: 5%;
}


.role-bubble div:first-child {
    margin-left: 0px;
}

.profile-tables table > tbody > tr > th {
    color: #8e8e8e;
}

.profile-tables table > tbody > tr {
    margin: 12px 0;
}

.profile-top {
    margin-top: 70px;
}

.profile-header {
    float: none;
    font-size: 18px;
    color: #8e8e8e;
    font-weight: bold;
}

.profile-info-detail {
}

.profile-bind-id {
    padding-left: 5px;
    baseline-shift: sub;
    font-size: 12px;
    color: #faa634;
}

.profile-info-detail section {
    margin-bottom: 12px;
}

.profile-username {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 5px;
}


.profile-info-avatar img {
    width: 200px;
}
@media (min-width: 992px) {
    .vertical-separate {
        border-right: 1px solid #8e8e8e;
        height: 220px;
    }
    .profile-statistic {
        margin-top: 80px;
    }
}

.profile-bubble {
    margin-bottom: 40px;
}

.profile-bubble > .profile-header {
    padding-top: 18px;
    padding-bottom: 6px;
}

.profile-bubble-trying {
    background-color: #f0ffef;
}

.profile-content {
    font-size: 14px;
}

.profile-info {
    float: right;
}

.profile-verify-email {
    max-width: 800px;
    margin: 0 auto;
}

.profile-verify-email-form {
    width: 260px;
    margin: 12px auto;
}

.profile-verify-email-form > #numberField {
    width: 180px;
    outline: none;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.5em;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #67c761;
    border-radius: 0;
}

.profile-verify-email-form > #numberField {
    padding-left: 6px;
}

.profile-verify-email-form > button {
    float: right;
}

.profile-resend-email {
    font-weight: 600;
}
