.problem-body {
    padding-top: 3%;
}

.prob-title{
    text-align: center;
    margin-bottom: 18px;
}

.prob-title h2{
    font-size: 34px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.prob-title-inf p{
    font-size: 12px;
    margin-bottom: 0;
    color: #6B6B6B;
    font-family: "Open Sans", sans-serif;
}

.prob-desc {
    margin-top: 0px;
    margin-bottom: 30px;
}

.prob-desc > h4 {
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.prob-desc div {
    font-size: 15px;
    margin-bottom: 16px;
    margin-top: 8px;
    line-height: 1.7;
}

.prob-desc br{
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 18px;
}

.prob-desc a {
    color: #faa634;
    text-decoration: none;
    font-weight: bold;
}

.prob-desc table {
    margin-top: 15px;
    margin-bottom: 15px;
}

.prob-desc-body:first-letter {
    font-weight: bold;
    font-size: 24px;
}

.sample-title h4 {
    width: 360px;
    float: left;
}

#sample div{
    margin-bottom: 0px;
    margin-top: 0px;
}
#sample br {
    margin-top: 0px;
}

.sample-wrapper {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0;
}

.prob-sample-input{
    /*border: 1px solid #faa634;*/
    font-family: monospace;
    background-color: #fffaf0;
    word-spacing: 0px;
    overflow-x: auto;
    padding: 5px;
    min-height: 35px;
}

.prob-sample-output {
    font-family: monospace;
    background-color: #fffaf0;
    word-spacing: 0;
    overflow-x: auto;
    padding: 5px;
    min-height: 35px;
}

.prob-sample-copy {
    margin: 2px 5px;
    vertical-align: sub;
}

.prob-sample-input-head {
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: #797979;
    margin-bottom: 0px;
    padding: 5px;
    margin-left: 5px;
}

.prob-sample-output-head {
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: #797979;
    margin-bottom: 0px;
    padding: 5px;
    margin-left: 4px;
}


