.contest-title {
    text-transform: none !important;
}

.bar-head > th > div {
    font-family: inherit;
}

.contest-problem-list-content {
    font-size: 16px;
}


.contest-problem-list-content .bar-content {
    margin-bottom: 14px;
}

.contest-problem-list-content .bar-head {
    margin-bottom: -8px;
}

.contest-problem-table {
    margin-top: 20px;
    margin-bottom: 25px;
}


.contest-problem-table {
    border-collapse: separate;
    border-spacing: 0 14px !important;
}

.contest-problem-table tbody td {
    padding: 12px 0px !important;
}

.contest-problem-bar .bar-content {
    margin-top: 12px;
    line-height: 32px;
    padding: 12px;
}

.contest-problem-bar .bardiv1 {
    overflow:auto;
    line-height: 32px;
    width: 100%;
    border-right: 1px solid #dfdfdf;
}

.contest-problem-bar .bardiv2 {
    overflow:auto;
    line-height: 32px;
    width: 100%;
    padding: 0px 12px;
}

