
.status-content {
    font-size: 14px;
}

.status-title-toggle > div {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #ffffff;
    cursor: pointer;
}

.status-title-toggle-on {
    color: #faa634;
}

.status-title-toggle-off {

}

.status-title-toggle-off:hover {
    background-color: #fffaf0;
    transition-duration: 0.5s;
}
