.container-sm {
    max-width: 768px;
    margin: 0 auto;
}

.submit-form {
    padding: 0 15px;
}

.submit-form .control-label {
    color: #8e8e8e;
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}


.submit-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-area > textarea{
    font-family: monospace;
    padding: 5px;
    height: 240px;
    resize: none;
}

.submit-area > div{
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #faa634;
    height: 240px;
    width: 100%;
}

.submit-area-selected {
    background-color: #fffaf0;
}

.submit-file-button {
    margin-top: 6px;
}

.submit-btn {
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.submit-file-text {
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    color: #a8a8a8;
    line-height: 200px;
}

.submit-file-show {
    margin: 40px auto 0 auto;
    max-width: 300px;
    text-align: center;
}

.submit-file-name {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    margin-top: 6px;
}

.submit-file-size {
    font-size: 14px;
    color: #888888;
}

.submit-file-cancel {
    position: absolute;
    top: 10px;
    right: 24px;
    cursor: pointer;
}

.submit-upload {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    letter-spacing: 0.04em;
    transition: color 0.5s;
}

.submit-upload:hover {
    color: #faa634;
    transition: color 0.5s;
}