.container-sm {
    max-width: 768px;
    margin: 0 auto;
}

.submit-form {
    padding: 0 15px;
}

.submit-form .control-label {
    color: #8e8e8e;
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}


.submit-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-area > textarea{
    font-family: monospace;
    padding: 5px;
    height: 240px;
    resize: none;
}

.submit-area > div{
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #faa634;
    height: 240px;
    width: 100%;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    color: #a8a8a8;
    line-height: 200px;
}

.submit-btn {
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.submit-upload {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    letter-spacing: 0.04em;
}