*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    /*box-sizing: border-box;*/

}

body{
    /*background-image: url("../background2.png");*/
    /*background-repeat: repeat;*/
    /*height: 100%;
    width: 100%;
    display: block;
    */
    /*background-color: #fffaf0;*/
    padding-top: 80px;
}

.col-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.col-right {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}


