*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    /*box-sizing: border-box;*/

}

html {
    position: relative;
    min-height: 100%;
}

body{
    /*background-image: url("../background2.png");*/
    /*background-repeat: repeat;*/
    /*height: 100%;
    width: 100%;
    display: block;
    */
    /*background-color: #fffaf0;*/
    margin-bottom: 80px;
    padding-top: 70px;
}

.page-header {
    text-transform: uppercase;
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}


a {
    color: #faa634;
    font-weight: bold;
}

a:hover {
    color: #faa634;
    text-decoration: inherit;
    cursor: pointer;
}

pre {
    border: none;
}

span {
    font-family: inherit;
}

.footer {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    text-align: center;
}

.footer .bottom-block {
    width: 160px;
    height: 4px;
    margin: 0 auto;
    border-bottom: 4px solid #faa634;
}

.waiting-orange {
    content: url("../wait.svg");
    margin: 150px auto;
}

@media (min-width: 992px) {
    .footer .bottom-block {
        width: 160px;
        height: 4px;
        margin: 0 auto;
        border-bottom: 4px solid #faa634;
        position: fixed;
        top: calc(100% - 4px);
        left: calc(50% - 80px);
        z-index: 999999;
    }
}



.col-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.col-right {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.bubble {
    height: 32px;
    padding: 6px 12px;
    border-radius: 16px;
    background-color: #fffaf0;
    margin: 0 3px;
    float: left;
}



.page-switch-container {
    height: 36px;
    width: 100%;
}

.pages-switch {
    display: block;
    float: right;
    height: 36px;
    width: 200px;
}

.pages-switch-number-choose {
    font-size: 16px;
    text-align: center;
    float: left;
    width: 36px;
    height: 36px;
    border: none;
    outline: none;
    background-color: #f8f8f8;
}

.pages-switch-number {
    float: left;
    text-align: center;
    line-height: 36px;
    width: 100px;
    height: 36px;
    font-size: 16px;
}
.pages-switch-number-slash {
    height: 36px;
    width: 30px;
    float: left;
}

.pages-switch-number-sum {
    height: 36px;
    width: 30px;
    float: left;
}

.pages-switch-button {
    float: left;
    height: 36px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

#Triangle:hover {
    fill: #faa634;
}

