*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    /*box-sizing: border-box;*/

}

html {
    position: relative;
    min-height: 100%;
}

body{
    /*background-image: url("../background2.png");*/
    /*background-repeat: repeat;*/
    /*height: 100%;
    width: 100%;
    display: block;
    */
    /*background-color: #fffaf0;*/
    margin-bottom: 80px;
    padding-top: 90px;
}

a {
    color: #faa634;
    font-weight: bold;
}

a:hover {
    color: #faa634;
    text-decoration: inherit;
    cursor: pointer;
}

pre {
    border: none;
}

span {
    font-family: inherit;
}

.page-header {
    border-bottom: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

::selection {
    background: #faa634;
    color: #fffaf0;
}

.round-tick {
    float: left;
    content: "✓";
    color: #fffaf0;
    font-size: 12px;
    line-height: 12px;
    width: 16px;
    height: 16px;
    text-align: center;
    background-color: #faa634;
    overflow: hidden;
    border-radius: 6px;
}

.btn {
    border-radius: 6px;
}

.btn:focus {
    outline: none;
}

.btn-alert {
    color: #67c761;
    background-color: white;
    border-color: #67c761;
    transition: background-color 0.5s;
}

.btn-alert:hover {
    color: white;
    background-color: #67c761;
    transition: background-color 0.5s;
}

@media print
{
    .footer, .footer *, .main-navbar, .main-navbar *
    {
        display: none !important;
    }
}

.footer {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    text-align: center;
}

.footer .bottom-block {
    width: 160px;
    height: 4px;
    margin: 0 auto;
    border-bottom: 4px solid #faa634;
}

.small-title-font {
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.big-title-font {
    font-family: "Quicksand", "HiraginoSansGB-W3", "SourceHanSansSC-Regular", "SourceHanSansCN-Regular", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.waiting-orange {
    content: url("../wait.svg");
    margin: 150px auto;
}

.copy-icon {
    content: url("../resource/copy.svg");
}

@media (min-width: 992px) {
    .footer .bottom-block {
        width: 160px;
        height: 4px;
        margin: 0 auto;
        border-bottom: 4px solid #faa634;
        position: fixed;
        top: calc(100% - 4px);
        left: calc(50% - 80px);
        z-index: 999999;
    }
}

.dropdown-menu {
    box-shadow: none;
}

.form-group {
    margin-bottom: 10px;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-control {
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #faa634;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 166, 52, 0.6);
}



.col-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.col-right {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.bubble {
    height: 32px;
    padding: 6px 12px;
    border-radius: 16px;
    background-color: #fffaf0;
    margin: 0 3px;
    float: left;
}



.page-switch-container {
    height: 36px;
    width: 100%;
}

.pages-switch {
    display: block;
    float: right;
    height: 36px;
    width: 200px;
}

.pages-switch-number-choose {
    font-size: 16px;
    text-align: center;
    float: left;
    width: 36px;
    height: 36px;
    border: none;
    outline: none;
    background-color: #f8f8f8;
}

.pages-switch-number {
    float: left;
    text-align: center;
    line-height: 36px;
    width: 100px;
    height: 36px;
    font-size: 16px;
}
.pages-switch-number-slash {
    height: 36px;
    width: 30px;
    float: left;
}

.pages-switch-number-sum {
    height: 36px;
    width: 30px;
    float: left;
}

.pages-switch-button {
    float: left;
    height: 36px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

#Triangle:hover {
    fill: #faa634;
}


.inf-board {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.inf-board-content {
    font-size: 14px;
    padding: 8px;
}

.inf-board-title {
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.inf-board-alert .inf-board-title {
    color: #f0ffef;
}

.inf-board-info .inf-board-title {
    color: #fffaf0;
}

.inf-board-alert {
    border: 1px solid #67c761;
    background-color: #f0ffef;
}

.inf-board-alert > .inf-board-title {
    background-color: #67c761;
}

.inf-board-alert a {
    color: #67c761;
}

.inf-board-info > .inf-board-title {
    background-color: #faa634;
}

.inf-board-info {
    border: 1px solid #faa634;
    background-color: #fffaf0;
}


