
<div ng-controller="contestListCtrl" class="bigContainer">


    <div class="rightbar">
        <div class="rightbarItem">
            <div class="rightbarHead">
                Problem Tag
            </div>
            <div>
                <span class="rightbarTag">dfs</span>
            </div>
            <div>
                <span class="rightbarTag">dynamic programming</span>
            </div>
            <div></div>
        </div>
        <div class="rightbarItem">
            <div class="rightbarProb">
                1001
            </div>
            <div>Submit</div>
            <div>Status</div>
        </div>
    </div>


    <div class="bigContent">

        <h2>Contests</h2>
        <div class="contestListContent">

            <table align="left" style="width:100%">

                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th></th>
                    <th></th>
                    <th>Status</th>
                </tr>

                <tr ng-repeat="x in contestList.data.problem_list" class="prob_item" ng-click="show_prob(x.problem_id)">


                    <td class="prob_id">
                        {{x.problem_id}}
                    </td>
                    <td class="prob_title">
                        {{x.problem_title}}
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td class="prob_status">
								<span class="prob-solve-cnt">
									{{x.solved_cnt}}
								</span>
                        /
                        <span class="prob-trying-cnt">
									{{x.trying_cnt}}
								</span>
                    </td>


                </tr>

            </table>
        </div>

    </div>

</div>