<div class="indexMain">

    <div ng-controller="loginCtrl" class="loginContainer">

        <button ng-click="toLogin()">Log in</button>
        <button ng-click="toSignUp()">Sign up</button>

        <div class="inputWrapper">

            <p>
                <input ng-model="indexUsername" placeholder="Email or Username" type="text" id="username">
            </p>
            <p>
                <input ng-model="indexPassword" placeholder="Password" type="password" id="password">
            </p>
            <p ng-show="signUpMode">
                <input ng-model="indexPasswordAgain" placeholder="PasswordAgain" type="password" id="passwordAgain">
            </p>

        </div>

        <button ng-click="registerFire(indexUsername, indexPassword, indexPasswordAgain)" ng-show="signUpMode">Go</button>
        <button ng-click="loginFire(indexUsername, indexPassword)" ng-show="!signUpMode">Goo</button>


    </div>

</div>
