<!--navbar是啥盒子-->
<div ng-controller="navbarCtrl" class="fixed-navbar">
    <div class="fixed-navbar-container">

        <div class="fixed-navbar-left-button">
            <button ng-click="changeTab('problemList')">Problem</button>
            <button ng-click="changeTab('submit')">Submit</button>
        </div>
        <!-- float顺序问题 -->


        <div class="fixed-navbar-right-button">
            <div class="fixed-navbar-user">
                <img src="user_head.png">
            </div>
        </div>

        <div class="fixed-navbar-title">USTC ONLINE JUDGE</div>
    </div>
</div>