
<div ng-controller="problemListCtrl" class="bigContainer">


	<div class="rightbar">
		<div class="rightbarItem">
			<div class="rightbarHead">
				Problem Tag
			</div>
			<div>
				<span class="rightbarTag">dfs</span>
			</div>
			<div>
				<span class="rightbarTag">dynamic programming</span>
			</div>
			<div></div>
		</div>
		<div class="rightbarItem">
			<div class="rightbarProb">
				1001
			</div>
			<div>Submit</div>
			<div>Status</div>
		</div>
	</div>


	<div class="bigContent">

		<h2>Problem List</h2>
		<div class="problemListContent">

			<table align="left" style="width:100%">

				<tr>
					<th>ID</th>
					<th>Title</th>
					<th></th>
					<th></th>
					<th>Status</th>
				</tr>

				<tr ng-repeat="x in problemList.problem_list" class="problemListItem" ng-click="showProblem(x.problem_id)">


							<td>
								{{x.problem_id}}
							</td>
							<td>
								{{x.problem_title}}
							</td>
							<td>

							</td>
							<td>

							</td>
							<td>
								<spa>
									{{x.solved_cnt}}
								</span>
								 /
								<span>
									{{x.trying_cnt}}
								</span>
							</td>


				</tr>

			</table>
		</div>

	</div>

</div>