
<div ng-controller="submitCtrl" class="bigContainer">

    <div class="bigContent">

        <h2>Submit</h2>

        <div class="submitList">
            <table>
                <tr>
                    <td>ID</td>
                    <td>
                        <input ng-model="submitID" />
                    </td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>{{submitTitle}}</td>
                </tr>
                <tr>
                    <td>Lang</td>
                    <td ng-bind="submitLang">
                    </td>
                </tr>
            </table>
        </div>

        <textarea ng-bind="submitSource"></textarea>
        <button ng-click="submitFire(submitSource, submitLang, submitID)">
            Submit
        </button>

        <p ng-show="submitStatus">
            {{submitMsg}}
        </p>

    </div>

</div>