*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("background.jpg");
    background-repeat: repeat;
    font-family: "Open Sans", sans-serif;
}

.contentMain {
    /*position: inherit;*/
}

/* login */

/* navbar */

.fixed-navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 10px #a5a5a5;
    font-family: "Open Sans", sans-serif;
}

.fixed-navbar-container{
    /*width: 1200px;*/
    margin: 0 auto;
}

.fixed-navbar-left-button {
    margin-left: 30px;
}

.fixed-navbar-left-button button{
    line-height: 50px;
    width: 100px;
    float: left;
    border: none;
    font-size: 16px;
    background-color: transparent;

}
.fixed-navbar-right-button {
    margin-right: 30px;
    float: right;
}

.fixed-navbar-right-button button{
    line-height: 50px;
    width: 100px;
    /*float: right;*/
    border: none;
    font-size: 16px;
    background-color: #f5f5f5;

}

.fixed-navbar-title{
    /*padding-top: 8px;
    margin-left: 450px;
    width: 300px;*/
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.fixed-navbar-right-button .fixed-navbar-user{
    float: right;
    padding-top: 7px;
}

.fixed-navbar-user img{
    width: 36px;
    height: 36px;
}


/* list */

.list-container{
    width: 930px;
    margin-left: 350px;
    margin-top: 90px;
    font-size: 13px;
    font-family: "PT Sans", sans-serif;
}

.list-container li{
    list-style: none;
    height: 30px;
    /* ���־��� */
    line-height: 30px;
}

.list-container span{
    display: inline-block;
    float: left;
}

.li-darkgrey{
    background-color: #d6d6d6;
}

.li-grey{
    background-color: #f3f3f3;
}

.li-white{
    background-color: white;
}

.list-container .li-page{
    background-color: #f3f3f3;
    height: 40px;
}

.li-page div{
    /* ��ʱ��40 * 4 */
    width: 160px;
    margin: 0 auto;
}

.li-page span{
    width: 40px;
    text-align: center;
    line-height: 40px;
}

.prob-number{
    width: 120px;
}

.prob-name{
    width: 557px;
}

.prob-solve{
    width: 170px;
}

.prob-level{
    width: 83px;
}


/* problem */

.bigContainer{
    width: 1100px;
    margin: 80px auto 0px;
    color: #333333;
    font-size: 18px;
    line-height: 1.5;
}

.prob-content{
    margin-left: 20px;
    width: 780px;
    background-color: white;
    padding: 40px;
    padding-bottom: 80px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 10px #a5a5a5;
}

.prob-title{
    text-align: center;
    margin-bottom: 18px;
}

.prob-title h2{
    font-size: 28px;
    padding-bottom: 5px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.prob-title-inf {
    margin-bottom: 7px;
    margin-top: 7px;
}

.prob-title-inf p{
    font-size: 14px;
    color: #6B6B6B;
    font-family: "Open Sans", sans-serif;
}

.prob-desc p{
    font-size: 16px;
    margin-bottom: 18px;
    margin-top: 8px;
    line-height: 1.7;
}

.prob-desc h4{
    /*margin-bottom: 10px;*/

    margin-top: 25px;
}


.prob-sample li{
    list-style: none;
    /* ����inline-block�ļ�� */
    word-spacing: -10px;
}

.prob-sample{
    padding: 0px 2px 0px 2px;
}

.prob-sample li div{
    display: inline-block;
    width: 360px;
    height: 36px;
    border: 1px solid #a5a5a5;
    border-top: none;
    line-height: 36px;
    background-color: #fffaf0;
    padding-left: 10px;
    word-spacing: 0px;
}

.prob-sample li .prob-sample-head{
    background-color: transparent;
    border: none;
    font-weight: bold;
    padding: 2px;
    border-bottom: 1px solid #a5a5a5;
}


.prob-rightbar{
    float: right;
    width: 200px;
}

.prob-rightbar-item{
    width: 200px;
    background-color: white;
    box-shadow: 2px 2px 10px #a5a5a5;
    margin-bottom: 35px;
}

.prob-rightbar-item div{
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
}

.prob-rightbar-item .prob-right-head{
    font-size: 14px;
    background-color: #efefef;
    font-weight: bold;
}

.prob-rightbar-item .prob-right-prob{
    font-size: 14px;
    background-color: #faa634;;
    color: white;
}

.prob-rightbar-item .prob-right-tag{
    padding: 2px 10px 2px 10px;
    margin: 8px 20px 8px 20px;
    background-color: #efefef;
    border-radius: 20px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}